*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deviceStreaming.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Exclude large archive files in root
*.zip

# Exclude generated APKs and bundles not in build folder
*.apk
*.ap_
*.aab

# Exclude keystore files
*.jks
*.keystore

# Kotlin / IDE caches
.kotlin/

# Test screen captures & artifacts
*.png
!avatar.png
*.tmp

# Temporary notes & changelogs
Changes_*.md


